{% extends 'layout.html'%}

{% block content %}
<div class="mb-2 border-bottom">
  <div class="d-flex flex-row justify-content-between align-items-center  ">
    <h1>Lista del <span class="text-primary">{{lista.fecha_creacion.strftime('%Y-%m-%d')}}</span></h1>
    <a href="{{ url_for('listas.agregar_producto', lista_id = lista.id) }}" class="btn  btn-primary ">Agregar</a>
  </div>
  <p>Descripcion: {{lista.descripcion}}</p>
</div>


{% block productos %}

{% endblock productos %}

{% endblock content %}